<%- include('../partials/header') %>

<h1>Zoo</h1>

<section id="show-page">
    <div>zone:</div>
    <div><%=zoo.zone%></div>
    <div>species:</div>
    <div><%=zoo.species%></div>

</section>

<%- include('../partials/footer') %>